@media (min-width:768px) and (max-width:1023px) {
	
	body {font-size:14px}
	
	#outer {background:none}
	#outer-btm {display:none}
	#wrapper {width:auto}
	header {padding:16px 20px 0}
	
	#logo {
    width: 220px;
}
#logo a, #logo a:hover {
    background-size: 220px auto;
    width: 220px;
}
	
	nav {left:20px}
	nav li {width:96px}
	nav li ul.sub {left:96px; padding-left:5px}
	
	#login {right:20px}
	
	/* checkbox + radio button + select - replacement */
	.select {padding:3px 6px 4px; font-size:11px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px}
	/* -- -- -- -- */
	
	.banner-caption {font-size:36px; line-height:40px; padding:8px 30px}
	
	.wide239 {width:25.42553191489362%}
	.wide223 {width:23.72340425531915%; min-height:290px}
	
	/*.ss-assessment {margin-right:14px; padding:8px 8px 0; font-size:13px; line-height:15px; border:5px solid #e6e1d6; -moz-border-top-left-radius:18px; -webkit-border-top-left-radius:18px; border-top-left-radius:18px; background-size:72px 57px}*/
	.bs-assessment {margin-right:14px; padding:8px 8px 0; font-size:13px; line-height:15px; border:5px solid #e6e1d6; background-size:53px 62px}
	/*.dm-profile {margin-right:14px; padding:8px 12px 0 8px; font-size:13px; line-height:15px; border:5px solid #e6e1d6; background-size:128px 62px}*/
	.cm-challenge {width:130%; height:auto; top:-20%; left:-20%}
	.cm-challenge img {width:auto; max-width:100%}
	
	.title27 {font-size:20px; line-height:22px; margin-bottom:8px}
	
	.wide630 {width:67.02127659574468%}
	.wide310 {width:32.97872340425532%}
	
	.customized-assessment {min-height:190px; padding:14px 12px 0; background-size:144px 115px}
	.txt41 {font-size:32px; line-height:27px}
	.txt20 {font-size:16px; line-height:19px; margin-bottom:10px}
	.tick-mark li {margin:3px 0; padding-left:28px; line-height:22px; background-size:22px 23px}
	.btn-enquire {width:76px; height:24px; line-height:24px; background-size:76px 24px}
	
	.more-info {min-height:190px; padding:14px 12px 0}
	.more-info p {margin-bottom:10px; padding:0 8px}
	.more-info input.txt-field1 {font-size:11px; padding:3px 6px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px}
	.txt28 {font-size:22px; margin-bottom:14px !important}
	
	.orange-bar {font-size:24px; line-height:32px; margin:12px 0; padding:5px 0}
	
	/* About Us */
	.banner-inner img {max-width:100%}
	
	.banner-inner-abt .banner-cnt {min-height:180px}
	.banner-inner-abt .banner-cnt .banner-heading {font-size:40px; line-height:50px; margin:0 0 10px 30px}
	.banner-inner-abt .banner-cnt .banner-txt {font-size:22px; line-height:26px}
	
	.col-744 {width:74.4%}
	.cnt-lt-1 {padding:12px 12px 0 30px; line-height:18px}
	.title20 {font-size:16px}
	hr.divider-line {margin:10px 0}
	.tick-mark1 li {margin:0 0 4px; padding-left:28px; min-height:21px; line-height:20px; background-size:20px 21px}
	.img-rt1 {margin:30px 10px 0 30px; max-width:80%}
	
	.col-256 {width:25.6%}
	.cnt-rt-1 {padding:12px 30px 0 12px; font-size:13px; line-height:15px}
	.title28 {font-size:22px}
	.brd-4 {border:3px solid #e6e1d6}
	.title18 {font-size:15px}
	
	.gry-bar {font-size:24px; line-height:28px; margin:12px 0}
	
	.img-fluid-80 {max-width:80%}
	/* -- -- -- -- */
	
	/* Skills Self Assessment */
	.banner-inner-ssa .banner-cnt {min-height:240px}
	.banner-inner-ssa .banner-cnt .banner-heading {font-size:40px; line-height:50px}
	.banner-inner-ssa .banner-cnt .banner-icn {width:15.6%}
	.banner-inner-ssa .banner-cnt .banner-icn img {width:100%}
	.banner-inner-ssa .banner-cnt .banner-txt {width:84.4%; font-size:16px; line-height:18px}
	
	.col-660 {width:66%}
	.cnt-lt-2 {margin-right:6px}
	.tick-mark2 li {margin:0 0 4px; padding-left:28px; font-size:14px; line-height:21px; background-size:20px 21px}
	
	.col-340 {width:34%}
	
	.img-fluid-100 {max-width:100%}
	
	.orange-bar1 {font-size:32px; line-height:40px}
	.wide731 {width:73.1%}
	.wide269 {width:26.9%}
	.wide269-1 {width:36.79890560875513%}
	.wide239-1 {width:32.69493844049248%}
	.wide223-1 {width:30.50615595075239%}
	.bs-assessment1 {min-height:262px; margin-right:12px; margin-left:30px; padding:7px 7px 0; font-size:13px; line-height:15px; border:5px solid #e6e1d6; -moz-border-top-left-radius:16px; -webkit-border-top-left-radius:16px; border-top-left-radius:16px; background-size:53px 62px}
	.dm-profile1 {min-height:262px; margin-right:12px; padding:7px 7px 0 7px; font-size:13px; line-height:15px; border:5px solid #e6e1d6; background-size:128px 62px}
	.cm-challenge1 {min-height:262px; padding:7px 7px 0; font-size:13px; line-height:15px; border:5px solid #e6e1d6; -moz-border-bottom-right-radius:16px; -webkit-border-bottom-right-radius:16px; border-bottom-right-radius:16px}
	.btn-register-here {width:92px; height:22px; line-height:22px; background-size:92px 22px}
	.dark-bar {font-size:26px; line-height:30px; padding:8px}
	.ilove {font-size:28px}
	.btn-register-here1 {width:108px; height:25px; line-height:25px; background-size:108px 25px}
	.more-info1 {min-height:320px; padding:7px 20px 0; background-size:100%}
	.more-info1 input.txt-field1 {font-size:11px; padding:3px 6px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px}
	/* -- -- -- -- */
	
	/* Behavioural Self Assessment */
	.banner-inner-bsa .banner-cnt {min-height:240px}
	.banner-inner-bsa .banner-cnt .banner-heading {font-size:40px; line-height:40px}
	.banner-inner-bsa .banner-cnt .banner-icn {width:11.2%}
	.banner-inner-bsa .banner-cnt .banner-icn img {width:100%}
	.banner-inner-bsa .banner-cnt .banner-txt {width:88.8%; font-size:16px; line-height:18px}
	
	.ss-assessment1 {min-height:262px; margin-right:12px; margin-left:30px; padding:7px 7px 0; font-size:13px; line-height:15px; border:5px solid #e6e1d6; -moz-border-top-left-radius:16px; -webkit-border-top-left-radius:16px; border-top-left-radius:16px; background-size:72px 57px}
	/* -- -- -- -- */
	
	/* Category Management Challenge */
	.wide660 {width:66%}
	.wide660 img {max-width:100%}
	.wide340 {width:34%}
	.challenge-form {padding-top:8px}
	.challenge-form .form1 {margin:0 15px 7px}
	.challenge-form input.txt-field2 {font-size:11px; padding:3px 6px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px}
	.tick-mark3 li {margin:0 0 4px; padding-left:28px; font-size:14px; line-height:21px; background-size:20px 21px}
	.img-shadow {max-width:85%}
	.dark20 {font-size:16px; line-height:16px}
	.orange-bar2 {padding:3px}
	.color-cmc-bar {padding:3px}
	.receive-icn {width:25%}
	.receive-icn img {max-width:80%}
	.receive-cnt {width:75%; font-size:13px; line-height:15px; letter-spacing:0}
	/* -- -- -- -- */
	
	/* Department Maturity Profile */
	.banner-inner-dmp .banner-cnt {min-height:240px}
	.banner-inner-dmp .banner-cnt .banner-heading {font-size:40px; line-height:40px}
	.banner-inner-dmp .banner-cnt .banner-icn {width:11.2%}
	.banner-inner-dmp .banner-cnt .banner-icn img {width:100%}
	.banner-inner-dmp .banner-cnt .banner-txt {width:88.8%; font-size:16px; line-height:18px}
	
	.bs-assessment2 {min-height:262px; margin-right:12px; padding:7px 7px 0; font-size:13px; line-height:15px; border:5px solid #e6e1d6; background-size:53px 62px}
	/* -- -- -- -- */
	
	/* Contact Us */
	.banner-inner-cnt .banner-cnt {min-height:110px}
	.banner-inner-cnt .banner-cnt .banner-heading {width:46%; font-size:40px}
	.banner-inner-cnt .banner-cnt .banner-txt1 {width:23.5%; font-size:16px; line-height:20px}
	.banner-inner-cnt .banner-cnt .banner-txt2 {width:26.5%; font-size:16px; line-height:20px}
	
	.title28-1 {font-size:22px; line-height:23px}
	.cnt-us-form input.inpt-bx {padding:3px; font-size:14px}
	.cnt-us-form .txt-area {padding:3px; font-size:14px}
	.cnt-us-form .select {padding:3px; font-size:14px}
	.btn-submit {width:76px; height:24px; line-height:24px; background-size:76px 24px}
	/* -- -- -- -- */
	
	/* Footer */
	footer {
    font-size: 11px;
    line-height: 14px;
}
footer .col-1 {
    margin-right: 26px;
    width: 13%;
}
footer .col-2 {
    margin-right: 26px;
    width: 25%;
}
footer .col-3 {
    width: 21%;
}
footer .col-4 {
    width: 150px;
}
footer .footer-link li.title {
    font-size: 13px;
}
	#footer-logo {
    height: 46px;
    width: 150px;
}
#footer-logo a, #footer-logo a:hover {
    background-size: 150px 46px;
    height: 46px;
    width: 150px;
}
	.powered {font-size:13px}
	/* -- -- -- -- */
	
	/* New CSS - 14-10-2014 */
	.ng-master {width:130%; height:auto; top:-20%; left:-20%}
	.ng-master img {width:auto; max-width:100%}
	.ss-assessment {margin-right:14px; padding:8px 8px 0; font-size:13px; line-height:15px; border:5px solid #e6e1d6; background-size:72px 57px}
	.cm-chellenge {margin-right:14px; padding:8px 8px 0; font-size:13px; line-height:15px; border:5px solid #e6e1d6; -moz-border-top-left-radius:18px; -webkit-border-top-left-radius:18px; border-top-left-radius:18px; background-size:60px 55px}
	.dm-profile {padding:8px 12px 5px 8px; font-size:13px; line-height:15px; border:5px solid #e6e1d6; background-size:104px 54px}
	.tick-mark4 li {margin:0 0 4px; padding-left:28px; font-size:14px; line-height:21px; background-size:20px 21px}
	.cyan-bar1 {padding:3px}
	.ngmaster-form {padding-top:8px}
	.ngmaster-form .form1 {margin:0 15px 7px}
	.ngmaster-form input.txt-field2 {font-size:11px; padding:3px 6px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px}
	
}

@media (min-width:230px) and (max-width:767px) {
	
	body {font-size:13px}
	
	#outer {background:none}
	#outer-btm {display:none}
	#wrapper {width:auto; min-width:320px}
	header {border-bottom:0; min-height:0; padding:0; position:static}
	
	#logo {width: 220px;
	height:87px;}
	#logo a, #logo a:hover {background-size: 220px auto;
    width: 220px;
	background-position:0px 15px;}
	
	a#top-nav-mob {display:block; font-size:14px; color:#fff; line-height:28px; text-decoration:none; margin-top:8px; padding:0 5px; background:#b4a991; position:relative}
	a#top-nav-mob span {background:url(../images/top-nav-mob-bg.gif) left center no-repeat; padding-left:26px; display:block}
	
	nav {left:0; top:123px; font-size:14px; display:none; width:100%; z-index:3000}
	nav li {width:auto; margin-bottom:0; padding:0 33px}
	nav li a {color:#fff !important; padding-bottom:0; background:#b5a991; padding:4px 12px; border-bottom:1px solid #c2b7a1}
	nav li a:hover {color:#fff !important; border-bottom:0; padding:4px 12px; border-bottom:1px solid #c2b7a1}
	nav li a.active, nav li a.active:hover {color:#fff !important; border-bottom:1px solid #c2b7a1; padding-bottom:4px}
	nav li ul.sub {left:0; margin-top:0; padding-left:0; display:block}
	nav li:hover ul.sub {position:static}
	nav li ul.sub li {width:auto; margin-bottom:0; padding:0}
	nav li ul.sub li a {border-bottom:1px solid #c2b7a1; padding-left:24px}
	nav li ul.sub li a:hover {border-bottom:1px solid #c2b7a1}
	nav li ul.sub li a.active, nav li ul.sub li a.active:hover {color:#fff !important}
	nav li:hover > a {color:#fff !important; border-bottom:1px solid #c2b7a1; padding-bottom:4px}
	
	a#login-mob {display:block; font-size:14px; color:#000; line-height:28px; text-decoration:none; padding:0 5px 0 10px; background:#e6e1d6; position:absolute; top:95px; right:0}
	a#login-mob span {background:url(../images/login-mob-bg.gif) right center no-repeat; padding-right:26px; display:block}
	
	#login {top:123px; right:33px; background:#e6e1d6; margin:0 auto; padding:10px 20px; display:none; z-index:4000}
	#login p {margin-bottom:6px}
	
	/* checkbox + radio button + select - replacement */
	.select {padding:3px 6px 4px; font-size:11px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; width:94%}
	/* -- -- -- -- */
	
	/* Banner - Homepage */
	.bx-wrapper .bx-pager.bx-default-pager a {width:12px; height:12px; margin:0 2px; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px}
	.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {width:8px; height:8px; line-height:12px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px}
	.banner-caption {font-size:20px; line-height:24px; padding:4px 10px}
	
	.pad-0-30 {padding:0 5px}
	.wide239 {width:50%}
	.wide223 {width:50%; position:static; min-height:90px}
	.hide {display:none}
	
	/*.ss-assessment {min-height:90px; margin-right:4px; padding:8px 8px 0; font-size:12px; line-height:14px; border:4px solid #e6e1d6; -moz-border-top-left-radius:16px; -webkit-border-top-left-radius:16px; border-top-left-radius:16px; background-size:55px 44px; margin-bottom:8px}*/
	/*.bs-assessment {min-height:90px; margin-right:0; padding:8px 8px 0; font-size:12px; line-height:14px; border:4px solid #e6e1d6; background-size:40px 47px; margin-left:4px; margin-bottom:8px; -moz-border-top-right-radius:16px; -webkit-border-top-right-radius:16px; border-top-right-radius:16px}*/
	/*.dm-profile {min-height:90px; margin-right:4px; padding:8px 12px 0 8px; font-size:12px; line-height:14px; border:4px solid #e6e1d6; background-size:86px 41px; -moz-border-bottom-left-radius:16px; -webkit-border-bottom-left-radius:16px; border-bottom-left-radius:16px}*/
	.cm-challenge {width:auto; height:0; position:static; top:0; left:0; margin-left:4px; padding:8px 8px 0; background:#da1c5c; border:4px solid #f8d2de; -moz-border-bottom-right-radius:16px; -webkit-border-bottom-right-radius:16px; border-bottom-right-radius:16px; min-height:90px}
	.cm-challenge img {display:none; width:auto; max-width:100%}
	a.btn-cm-challenge {display:block; width:122px; height:75px; margin:0 auto; margin-top:5px; background:url(../images/img-cm-challenge-mob.png) left top no-repeat}
	
	.title27 {font-size:16px; line-height:18px; margin-bottom:8px}
	
	/*a.btn-more, a.btn-more:hover {background:url(../images/btn-more.png) left top no-repeat; width:49px; height:18px; display:block; text-decoration:none; margin-top:20px}*/
	a.btn-more span {display:none}
	
	.dot-line {height:6px; margin:8px 0; font-size:6px; line-height:6px; background-size:12px 6px}
	
	.wide630 {float:none; width:100%}
	.wide310 {float:none; width:100%; position:relative}
	
	.customized-assessment {min-height:0; margin-right:0; padding:10px 8px; background-size:100px 80px; margin-bottom:4px}
	.txt41 {font-size:24px; line-height:22px}
	.txt20 {font-size:13px; line-height:15px; margin-bottom:8px}
	.enquire {float:none; margin:0}
	.btn-enquire {width:62px; height:20px; line-height:20px; background-size:62px 20px}
	
	a#more-info-mob {display:block; font-family:'cleargothic-regularregular', Arial, Helvetica, sans-serif; font-size:18px; color:#000; line-height:23px; text-decoration:none; padding:0; background:#f79548; position:relative}
	a#more-info-mob span {background:url(../images/more-info-mob-bg.png) right center no-repeat; padding:5px 8px; display:block}
	
	.more-info {min-height:0; padding:0; position:absolute; width:100%; display:none}
	.more-info p {margin-bottom:8px; padding:0 8px}
	.more-info input.txt-field1 {font-size:11px; padding:3px 6px; width:94%; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px}
	.more-info .btn-go1 {margin-bottom:8px}
	.txt28 {font-size:18px; margin-bottom:10px !important}
	
	.orange-bar {font-size:18px; line-height:22px; margin:4px 5px; padding:5px 0}
	
	/* About Us */
	.banner-inner img {max-width:100%}
	
	.banner-inner-abt .banner-cnt {min-height:90px}
	.banner-inner-abt .banner-cnt .banner-heading {font-size:20px; line-height:26px; margin:0 0 7px 5px; padding-top:4px}
	.banner-inner-abt .banner-cnt .banner-txt {font-size:13px; line-height:13px; margin-left:5px; /*-moz-text-shadow:1px 1px #fff; -webkit-text-shadow:1px 1px #fff; text-shadow:0 0 1px #fff;*/ -moz-text-shadow:1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff; -webkit-text-shadow:1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff; text-shadow:1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff}
	
	.col-744 {float:none; width:100%}
	.cnt-lt-1 {padding:5px 5px 0 5px; line-height:15px}
	.title20 {font-size:13px}
	hr.divider-line {margin:10px 0}
	.tick-mark1 li {margin:0 0 5px; padding-left:24px; min-height:17px; line-height:15px; background-size:16px 17px}
	.img-rt1 {float:none; margin:0 0 5px 0; max-width:50%}
	ol.list1 > li {margin:0 0 0 5px; padding:6px 0 2px 16px}
	ol.list1 > li:before {top:4px; left:-5px; width:16px; height:16px; line-height:16px}
	
	.col-256 {float:none; width:100%}
	.cnt-rt-1 {padding:12px 10px 0 10px; font-size:13px; line-height:15px; margin:0 5px}
	.title28 {font-size:18px}
	.brd-4 {border:3px solid #e6e1d6}
	.title18 {font-size:15px}
	
	.gry-bar {font-size:17px; line-height:20px; margin:12px 5px; padding:4px}
	
	.img-fluid-80 {max-width:80%}
	/* -- -- -- -- */
	
	/* Skills Self Assessment */
	.banner-inner-ssa .banner-cnt {min-height:116px}
	.banner-inner-ssa .banner-cnt .banner-heading {font-size:20px; line-height:26px; margin:0 0 0 5px; padding-top:4px}
	.banner-inner-ssa .banner-cnt .banner-icn {display:none}
	.banner-inner-ssa .banner-cnt .banner-txt {float:none; width:auto; font-size:13px; line-height:13px; padding-left:5px; /*-moz-text-shadow:1px 1px #fff; -webkit-text-shadow:1px 1px #fff; text-shadow:0 0 1px #fff;*/ -moz-text-shadow:1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff; -webkit-text-shadow:1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff; text-shadow:1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff}
	
	.dot-line1 {height:6px; margin:14px 0; font-size:6px; line-height:6px; background-size:12px 6px}
	.col-660 {float:none; width:100%}
	.cnt-lt-2 {margin-right:0; padding:5px 5px 0 5px}
	.wide50-1 {width:100%}
	.tick-mark2 li {margin:0 0 3px; padding-left:24px; font-size:13px; line-height:17px; background-size:16px 17px}
	
	.col-340 {float:none; width:100%}
	.cnt-rt-2 {padding:5px 5px 0 5px}
	
	.img-fluid-100 {max-width:100%}
	
	.orange-bar1 {font-size:17px; line-height:20px; padding:4px}
	.wide731 {float:none; width:100%}
	.wide269 {float:none; width:100%}
	.wide269-1 {width:50%}
	.wide239-1 {width:50%}
	.wide223-1 {float:none; width:100%; clear:both}
	.bs-assessment1 {min-height:90px; margin-right:4px; margin-left:5px; padding:8px 8px 0; font-size:13px; line-height:15px; border:4px solid #e6e1d6; -moz-border-top-left-radius:14px; -webkit-border-top-left-radius:14px; border-top-left-radius:14px; background-size:40px 47px; margin-bottom:8px}
	.dm-profile1 {min-height:90px; margin-right:5px; padding:8px 8px 0 8px; font-size:13px; line-height:15px; border:4px solid #e6e1d6; background-size:86px 41px; margin-left:4px; -moz-border-top-right-radius:14px; -webkit-border-top-right-radius:14px; -moz-border-top-right-radius:14px; -webkit-border-top-right-radius:14px; border-top-right-radius:14px; margin-bottom:8px}
	.cm-challenge1 {min-height:90px; padding:8px; font-size:13px; line-height:15px; border:4px solid #e6e1d6; -moz-border-bottom-right-radius:14px; -webkit-border-bottom-right-radius:14px; border-bottom-right-radius:14px; -moz-border-bottom-left-radius:14px; -webkit-border-bottom-left-radius:14px; border-bottom-left-radius:14px; margin:0 5px}
	.cm-challenge1 img {max-height:60px}
	.btn-register-here {width:92px; height:22px; line-height:22px; background-size:92px 22px}
	.dark-bar {font-size:16px; line-height:20px; padding:6px; margin:0 5px}
	.ilove {font-size:18px}
	.btn-register-here1 {width:85px; height:20px; line-height:20px; background-size:85px 20px}
	.more-info1 {min-height:0; padding:7px 10px; background:none}
	.more-info1 input.txt-field1 {font-size:11px; padding:3px 6px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px}
	/* -- -- -- -- */
	
	/* Behavioural Self Assessment */
	.banner-inner-bsa .banner-cnt {min-height:144px}
	.banner-inner-bsa .banner-cnt .banner-heading {font-size:20px; line-height:22px; margin:0 0 0 5px; padding-top:4px}
	.banner-inner-bsa .banner-cnt .banner-icn {display:none}
	.banner-inner-bsa .banner-cnt .banner-txt {float:none; width:auto; font-size:13px; line-height:13px; padding-left:5px; /*-moz-text-shadow:1px 1px #fff; -webkit-text-shadow:1px 1px #fff; text-shadow:0 0 1px #fff;*/ -moz-text-shadow:1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff; -webkit-text-shadow:1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff; text-shadow:1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff}
	
	.ss-assessment1 {min-height:90px; margin-right:4px; margin-left:5px; padding:8px 8px 0; font-size:13px; line-height:15px; border:4px solid #e6e1d6; -moz-border-top-left-radius:14px; -webkit-border-top-left-radius:14px; border-top-left-radius:14px; background-size:55px 44px; margin-bottom:8px}
	/* -- -- -- -- */
	
	/* Category Management Challenge */
	.banner-inner1 {background:none}
	.wide660 {float:none; width:100%}
	/*.wide660 img {max-width:100%}*/
	.wide340 {float:none; width:100%; background:#f0ede6; padding-bottom:2px}
	.challenge-form {border-top:4px solid #fff; padding-top:8px}
	.challenge-form .form1 {margin:0 10px 7px}
	.challenge-form input.txt-field2 {font-size:11px; padding:3px 6px; width:94%; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px}
	.challenge-form .btn-go2 {line-height:22px; width:37px; height:22px; background-size:37px 22px}
	.tick-mark3 li {margin:0 0 3px; padding-left:24px; font-size:13px; line-height:17px; background-size:16px 17px}
	ol.list2 > li {margin:0 0 0 5px; padding:6px 0 2px 16px}
	ol.list2 > li:before {top:5px; left:-5px; width:16px; height:16px; line-height:16px}
	.cnt-rt-3 {padding:10px 5px 0 5px}
	.img-shadow {max-width:60%}
	.dark20 {font-size:15px; line-height:15px}
	.orange-bar2 {padding:3px}
	.color-cmc-bar {padding:3px}
	.receive-icn {width:25%}
	.receive-icn img {max-width:80%}
	.receive-cnt {width:75%; font-size:13px; line-height:15px; letter-spacing:0}
	/* -- -- -- -- */
	
	/* Department Maturity Profile */
	.banner-inner-dmp .banner-cnt {min-height:134px}
	.banner-inner-dmp .banner-cnt .banner-heading {font-size:20px; line-height:22px; margin:0 0 0 5px; padding-top:4px}
	.banner-inner-dmp .banner-cnt .banner-icn {display:none}
	.banner-inner-dmp .banner-cnt .banner-txt {float:none; width:auto; font-size:13px; line-height:13px; padding-left:5px; /*-moz-text-shadow:1px 1px #fff; -webkit-text-shadow:1px 1px #fff; text-shadow:0 0 1px #fff;*/ -moz-text-shadow:1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff; -webkit-text-shadow:1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff; text-shadow:1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff}
	
	.bs-assessment2 {min-height:90px; margin-right:5px; padding:8px 8px 0; font-size:13px; line-height:15px; border:4px solid #e6e1d6; background-size:40px 47px; margin-left:4px; -moz-border-top-right-radius:14px; -webkit-border-top-right-radius:14px; -moz-border-top-right-radius:14px; -webkit-border-top-right-radius:14px; border-top-right-radius:14px; margin-bottom:8px}
	/* -- -- -- -- */
	
	/* Contact Us */
	.banner-inner-cnt .banner-cnt {min-height:104px}
	.banner-inner-cnt .banner-cnt .banner-heading {float:none; width:auto; font-size:20px; line-height:26px; margin:0 0 6px 5px; padding-top:4px}
	.banner-inner-cnt .banner-cnt .banner-txt1 {width:49%; font-size:13px; line-height:15px; padding-top:0; padding-left:5px}
	.banner-inner-cnt .banner-cnt .banner-txt2 {float:right; width:49%; font-size:13px; line-height:15px; padding-top:0}
	
	.cnt-bx {float:none; width:100%}
	.cnt-lt {margin-right:5px; padding:10px; margin-right:5px}
	.cnt-rt {margin-left:5px; padding:10px; margin-right:5px}
	.title28-1 {font-size:18px; line-height:20px}
	.cnt-us-form input.inpt-bx {padding:3px; font-size:13px; width:94%}
	.cnt-us-form .txt-area {padding:3px; font-size:13px}
	.cnt-us-form .select {width:94%; padding:3px; font-size:13px}
	.txt12 {font-size:11px}
	.btn-submit {width:70px; height:22px; line-height:22px; background-size:70px 22px}
	/* -- -- -- -- */
	
	/* Footer */
	footer {padding:0 5px; font-size:11px; line-height:14px}
	footer .col-1 {float:none; border-right:0; border-bottom:1px solid #e8e8e8; width:auto; min-height:0; margin-right:0; padding:8px}
	footer .col-2 {float:none; border-right:0; border-bottom:1px solid #e8e8e8; width:auto; min-height:0; margin-right:0; padding:8px}
	footer .col-3 {float:none; border-right:0; border-bottom:1px solid #e8e8e8; width:auto; min-height:0; padding:8px}
	footer .col-4 {float:none; width:auto; min-height:0; padding:8px}
	footer .footer-link li.title {font-size:13px}
	#footer-logo {width:130px; height:39px}
	#footer-logo a, #footer-logo a:hover {width:130px; height:39px; background-size:130px 39px}
	.powered {font-size:12px; text-align:left; padding:0}
	/* -- -- -- -- */
	
	/* Reset Password */
	.reset-password {width:280px; padding:10px; -moz-border-top-left-radius:8px; -webkit-border-top-left-radius:8px; border-top-left-radius:8px; -moz-border-top-right-radius:8px; -webkit-border-top-right-radius:8px; border-top-right-radius:8px}
	.reset-password .reset-cnt {float:none; width:auto; font-size:13px; line-height:15px; padding-right:0; padding-bottom:10px}
	.reset-password .reset-form {float:none; width:auto; padding:10px}
	.reset-password .reset-form h5 {font-size:14px; margin-bottom:5px}
	.reset-password .reset-form label {float:none; width:auto; height:inherit; line-height:normal; margin-bottom:3px; display:block}
	.reset-password .reset-form .txt-bx {float:none; width:auto; height:inherit; margin-bottom:8px}
	.reset-password .reset-form .txt-bx input {padding:2px 6px}
	.reset-password .reset-form .captcha {float:none; width:auto}
	.reset-password .reset-form input.btn-submit {width:70px; height:22px; line-height:22px; margin-top:10px; background-size:70px 22px}
	/* -- -- -- -- */
	
	/* Alert Message */
	.message {width:280px; padding:10px; -moz-border-top-left-radius:8px; -webkit-border-top-left-radius:8px; border-top-left-radius:8px; -moz-border-top-right-radius:8px; -webkit-border-top-right-radius:8px; border-top-right-radius:8px}
	.message .message-box {padding:10px; font-size:13px}
	/* -- -- -- -- */
	
	
	/* New CSS - 14-10-2014 */
	a.btn-more, a.btn-more:hover {background:url(../images/btn-more.png) left top no-repeat; width:49px; height:18px; display:block; text-decoration:none; margin-top:12px}
	.ng-master {width:auto; height:0; position:static; top:0; left:0; margin-left:4px; padding:8px 8px 0; background:#000; border:4px solid #e6e1d6; min-height:90px}
	.ng-master img {display:none; width:auto; max-width:100%}
	a.btn-ng-master {display:block; width:122px; height:75px; margin:0 auto; margin-top:5px; background:url(../images/img-ng-master-mob.png) left top no-repeat}
	.ss-assessment {min-height:90px; margin-right:0; margin-left:4px; padding:8px 8px 0; font-size:12px; line-height:14px; border:4px solid #e6e1d6; -moz-border-top-right-radius:16px; -webkit-border-top-right-radius:16px; border-top-right-radius:16px; background-size:55px 44px; margin-bottom:8px}
	.cm-chellenge {min-height:90px; margin-right:4px; padding:8px 8px 0; font-size:12px; line-height:14px; border:4px solid #e6e1d6; -moz-border-top-left-radius:18px; -webkit-border-top-left-radius:18px; border-top-left-radius:18px; background-size:46px 42px; margin-bottom:8px}
	.bs-assessment {min-height:90px; margin-right:4px; padding:8px 8px 0; font-size:12px; line-height:14px; border:4px solid #e6e1d6; background-size:40px 47px; margin-bottom:8px}
	.dm-profile {min-height:90px; margin-right:0; padding:8px 12px 0 8px; font-size:12px; line-height:14px; border:4px solid #e6e1d6; background-size:78px 41px; -moz-border-bottom-left-radius:16px; -webkit-border-bottom-left-radius:16px; border-bottom-left-radius:16px; margin-top:0; -moz-border-bottom-right-radius:16px; -webkit-border-bottom-right-radius:16px; border-bottom-right-radius:16px;}
	.dm-profile-lt1 {float:none; width:auto}
	.dm-profile-lt2 {float:none; width:auto; margin-top:0}
	ol.list3 > li {margin:0 0 0 5px; padding:6px 0 2px 16px}
	ol.list3 > li:before {top:5px; left:-5px; width:16px; height:16px; line-height:16px}
	.tick-mark4 li {margin:0 0 3px; padding-left:24px; font-size:13px; line-height:17px; background-size:16px 17px}
	.cyan-bar1 {padding:3px}
	.dot-line2 {height:6px; margin:14px 0; font-size:6px; line-height:6px; background-size:12px 6px}
	.wide660 img {width:100%}
	.ngmaster-form {border-top:4px solid #fff; padding-top:8px}
	.ngmaster-form .form1 {margin:0 10px 7px}
	.ngmaster-form input.txt-field2 {font-size:11px; padding:3px 6px; width:94%; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px}
	.ngmaster-form .btn-go3 {line-height:22px; width:37px; height:22px; background-size:37px 22px}
	
	.welcome-test .timer{top:100%;width:100%;background:white;padding:5px 10px;text-align:center;margin-top:-60px;}
#footer-logo {
    height: 39px;
    width: 130px;
}
#footer-logo a, #footer-logo a:hover {
    background-size: 130px 39px;
    height: 39px;
    width: 130px;
}	
}