html, body {-webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none}

body {margin:0; padding:0; font-family:'HelveticaRegular', Arial, Helvetica, sans-serif; font-size:16px; color:#231f20; cursor:default}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, /*table,*/ caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0; padding:0; border:0; vertical-align:baseline}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}

a:link, a:visited {color:#ea4320; text-decoration:none; outline:none}
a:hover {color:#ea4320; text-decoration:underline}
ul, ol {margin:0; padding:0; list-style:none}
li {margin:0; padding:0}
img {border:0 none; outline:none; vertical-align:middle}
p {margin:0; padding:0}
table {border-collapse:collapse; border-spacing:0}
input, textarea, select {font-family:'HelveticaRegular', Arial, Helvetica, sans-serif; font-size:16px; color:#231f20; margin:0; padding:1px; border:1px solid #dbdbdb; outline:none}
button, input, select, textarea {margin:0; font-size:100%; vertical-align:middle}
blockquote, q {quotes:none}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none}
.no-brd {border:0 none !important}

.floatL {float:left}
.floatR {float:right}
.clear {clear:both; visibility:hidden; font-size:0; line-height:0; height:0; margin:0; padding:0}

.txtLft {text-align:left !important}
.txtRgt {text-align:right !important}
.txtJst {text-align:justify !important}
.txtCtr {text-align:center !important}
.txtBld {font-weight:bold !important}
.dark {font-family:'HelveticaBold', Arial, Helvetica, sans-serif}
.wide50 {float:left; width:50%}
.mrg-bt-5 {margin-bottom:5px}

/* Helvetica Regular */
@font-face {
	font-family:'HelveticaRegular';
	src:url('../fonts/helr45w-webfont.eot');
	src:url('../fonts/helr45w-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/helr45w-webfont.woff') format('woff'),
		 url('../fonts/helr45w-webfont.ttf') format('truetype'),
		 url('../fonts/helr45w-webfont.svg#HelveticaRegular') format('svg');
	font-weight:normal;
	font-style:normal;
}

/* Helvetica Bold */
@font-face {
	font-family:'HelveticaBold';
	src:url('../fonts/helr65w-webfont.eot');
	src:url('../fonts/helr65w-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/helr65w-webfont.woff') format('woff'),
		 url('../fonts/helr65w-webfont.ttf') format('truetype'),
		 url('../fonts/helr65w-webfont.svg#HelveticaBold') format('svg');
	font-weight:normal;
	font-style:normal;
}

/* Helvetica Neue Bold Condensed */
@font-face {
	font-family:'helvetica_neueregular';
	src:url('../fonts/helveticaneue-boldcond-webfont.eot');
	src:url('../fonts/helveticaneue-boldcond-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/helveticaneue-boldcond-webfont.woff') format('woff'),
		 url('../fonts/helveticaneue-boldcond-webfont.ttf') format('truetype'),
		 url('../fonts/helveticaneue-boldcond-webfont.svg#helvetica_neueregular') format('svg');
	font-weight:normal;
	font-style:normal;
}

/* Helvetica Neue Italic */
@font-face {
	font-family:'helvetica_neueregular-italic';
	src:url('../fonts/helveticaneue-italic-webfont.eot');
	src:url('../fonts/helveticaneue-italic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/helveticaneue-italic-webfont.woff') format('woff'),
		 url('../fonts/helveticaneue-italic-webfont.ttf') format('truetype'),
		 url('../fonts/helveticaneue-italic-webfont.svg#helvetica_neueregular') format('svg');
	font-weight:normal;
	font-style:normal;
}

/* Helvetica Neue Condensed */
@font-face {
	font-family:'helvetica_neueregular-condensed';
	src:url('../fonts/helveticaneue-condensed-webfont.eot');
	src:url('../fonts/helveticaneue-condensed-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/helveticaneue-condensed-webfont.woff') format('woff'),
		 url('../fonts/helveticaneue-condensed-webfont.ttf') format('truetype'),
		 url('../fonts/helveticaneue-condensed-webfont.svg#helvetica_neueregular') format('svg');
	font-weight:normal;
	font-style:normal;
}

/* Helvetica Heavy Condensed */
@font-face {
	font-family:'helvetica_neueregular-hv-cnd';
	src:url('../fonts/helveticaneue-heavycond-webfont.eot');
	src:url('../fonts/helveticaneue-heavycond-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/helveticaneue-heavycond-webfont.woff') format('woff'),
		 url('../fonts/helveticaneue-heavycond-webfont.ttf') format('truetype'),
		 url('../fonts/helveticaneue-heavycond-webfont.svg#helvetica_neueregular') format('svg');
	font-weight:normal;
	font-style:normal;
}


#outer {margin:0 auto; background:url(../innerimages/outer-bg.gif) center top repeat-y}
#outer-btm {margin:0 auto 20px; background:url(../innerimages/outer-btm-bg.gif) center top no-repeat; height:40px}
#wrapper {width:1000px; min-width:768px; margin:0 auto}
header {border-bottom:10px solid #e6e1d6; min-height:129px; padding-top:16px; position:relative}

#logo {
	height: 92px;
	margin: 0 auto;
	text-align: center;
	width: 343px;
}
    #logo a, #logo a:hover {
        background: url(../images/logo.png) no-repeat left top;
        display: block;
        height: 107px;
        text-decoration: none;
        text-indent: -999em;
        width: 226px;
    }

.main-navigation {
	clear: both;
	margin: 0 auto;
	max-width: 1080px;
	min-height: 45px;
	position: relative;
}

ul.nav-menu,
div.nav-menu > ul {
	margin: 0;
	padding: 0 40px 0 0;
}

.nav-menu li {
	display: inline-block;
	position: relative;
}

.nav-menu li a {
	color: #141412;
	display: block;
	font-size: 15px;
	line-height: 1;
	padding: 15px 20px;
	text-decoration: none;
}

.nav-menu li:hover > a,
.nav-menu li a:hover,
.nav-menu li:focus > a,
.nav-menu li a:focus {
	background-color: #220e10;
	color: #fff;
}

.nav-menu .sub-menu,
.nav-menu .children {
	background-color: #220e10;
	border: 2px solid #f7f5e7;
	border-top: 0;
	padding: 0;
	position: absolute;
	left: -2px;
	z-index: 99999;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

.nav-menu .sub-menu ul,
.nav-menu .children ul {
	border-left: 0;
	left: 100%;
	top: 0;
}

ul.nav-menu ul a,
.nav-menu ul ul a {
	color: #fff;
	margin: 0;
	width: 200px;
}

ul.nav-menu ul a:hover,
.nav-menu ul ul a:hover,
ul.nav-menu ul a:focus,
.nav-menu ul ul a:focus {
	background-color: #db572f;
}

ul.nav-menu li:hover > ul,
.nav-menu ul li:hover > ul,
ul.nav-menu .focus > ul,
.nav-menu .focus > ul {
	clip: inherit;
	overflow: inherit;
	height: inherit;
	width: inherit;
}

.nav-menu .current_page_item > a,
.nav-menu .current_page_ancestor > a,
.nav-menu .current-menu-item > a,
.nav-menu .current-menu-ancestor > a {
	color: #bc360a;
	font-style: italic;
}

.menu-toggle {
	display: none;
}

/* Navbar */
.navbar {
	background-color: #f7f5e7;
	margin: 0 auto;
	max-width: 1600px;
	width: 100%;
}

nav {position:absolute; right:34px; top:22px; font-size:12px; color:#231f20}
nav li {float:left; margin-left:12px}
nav li a {color:#231f20 !important; text-decoration:none}
nav li a:hover {color:#ea4320 !important; text-decoration:none}

#container {}


/* Multiple Assessment */
.welcome {padding:28px 119px; font-size:18px; line-height:22px; text-align:center}
.title40-orange {font-family:'HelveticaBold', Arial, Helvetica, sans-serif; font-size:40px; color:#ea4320; line-height:normal}
.title40 {font-size:40px; line-height:normal}
.orange {color:#ea4320}

.dot-line {background:url(../innerimages/dotted-line.gif) left top repeat-x; height:10px; margin:5px 0; font-size:10px; line-height:10px}
.color-box {background:#eae5dc; padding:31px}

.info-box-shdw {background:#fff; margin:24px 0; padding:14px; -moz-box-shadow:2px 2px 8px #333; -webkit-box-shadow:2px 2px 8px #333; box-shadow:2px 2px 8px #333; font-size:16px; line-height:20px; height:1%}
.info-box-shdw .icon, .info-box-shdw .head, .info-box-shdw .desc {float:left}
.info-box-shdw .icon {width:104px}
.info-box-shdw .head {width:150px; font-family:'HelveticaBold', Arial, Helvetica, sans-serif; font-size:22px; color:#ea4320; line-height:24px; padding-right:20px}
.info-box-shdw .desc {width:500px}
.info-box-shdw .info {width:112px; padding-top:6px; float:right}

a.btn-go, a.btn-go:hover {display:block; width:51px; height:30px; background:url(../innerimages/btn-go.png) left top no-repeat; font-family:'HelveticaBold', Arial, Helvetica, sans-serif; font-size:20px; color:#fff !important; text-decoration:none; text-align:center; line-height:30px; margin:0 auto}
/*a.locked, a.locked:hover {display:block; font-size:12px; color:#ea4320; line-height:14px; text-align:center; background:url(../innerimages/icon-locked.png) center top no-repeat; padding-top:42px}*/
.locked {display:block; font-size:12px; color:#ea4320; line-height:14px; text-align:center; background:url(../innerimages/infogreen.png) center top no-repeat; padding-top:42px;position:relative;}
/*.locked:hover {text-decoration:none}*/
.locked span {color:#231f20; margin-left:-999em; position:absolute}
.locked:hover span {position:absolute; right:-210px; top:50px; z-index:99; margin-left:0; border:1px solid #bcbcbc; background:#e6e6e6; padding:8px; width:200px; font-size:12px; line-height:normal; box-shadow:2px 2px 4px #666}

.infolock {display:inline-block; font-size:12px; color:#ea4320; line-height:14px; text-align:center; background:url(../innerimages/info.png) center top no-repeat; position:relative; width:25px; height:25px; padding-left:5px; }
/*.locked:hover {text-decoration:none}*/
.infolock span {color:#231f20; margin-left:-999em; position:absolute}
.infolock:hover span {position:absolute; right:-220px; top:5px; z-index:99; margin-left:0; border:1px solid #bcbcbc; background:#e6e6e6; padding:8px; width:200px; font-size:12px; line-height:normal; box-shadow:2px 2px 4px #666}

/* -- -- -- -- */



/* Assessment Instructions */
.info-box-shdw-inner {background:#fff; padding:30px 88px; -moz-box-shadow:2px 2px 4px #666; -webkit-box-shadow:2px 2px 4px #666; box-shadow:2px 2px 4px #666; font-size:16px; line-height:20px}
.txt16-bold {font-family:'HelveticaBold', Arial, Helvetica, sans-serif; font-size:16px}
.txt30 {font-family:Arial, Helvetica, sans-serif; font-size:30px; color:#ea4320; line-height:30px}
.step1 {width:43.30708661417323%; float:left}
.step2 {width:56.69291338582677%; float:left}
hr.divider-line {border:0; border-bottom:1px solid #e1dacd; height:1px; line-height:1px; margin:20px 0}
a.my-profile, a.my-profile:hover {font-family:'helvetica_neueregular', Arial, Helvetica, sans-serif; font-size:20px; line-height:32px; color:#fff !important; text-align:center; display:inline-block; width:134px; height:32px; text-decoration:none; background:url(../innerimages/btn-my-profile.png) left top no-repeat}
a.proceed, a.proceed:hover {font-family:'helvetica_neueregular', Arial, Helvetica, sans-serif; font-size:20px; line-height:32px; color:#fff !important; text-align:center; display:inline-block; width:165px; height:32px; text-decoration:none; background:url(../innerimages/proceed.png) left top no-repeat}
a.update-profile, a.update-profile:hover {  
font-family:'helvetica_neueregular', Arial, Helvetica, sans-serif; font-size:20px; line-height:32px; color:#fff !important; text-align:center; display:inline-block; width:160px; height:32px; text-decoration:none; background:url(../innerimages/btn-save-big.png) left top no-repeat
                                          }
.timed-task {background:#f2f0ea; line-height:22px; text-align:center; padding:12px 28px}
.timed-task .title {font-family:'helvetica_neueregular', Arial, Helvetica, sans-serif; font-size:38px; line-height:40px}
.timed-task .title span {background:url(../innerimages/icon-timed-task.png) left top no-repeat; display:inline-block; padding:0 130px; min-height:101px}
.timed-task .title .orange {font-size:55px; line-height:46px; color:#ea4320}
/* -- -- -- -- */


/* My Profile */
.welcome-inner {padding-top:28px; text-align:center; background:#eae5dc; margin-top:7px}
.my-pofile-form {width:662px; margin:0 auto}
.txt28 {font-size:28px; line-height:normal}
.txt18-bold {font-family:'HelveticaBold', Arial, Helvetica, sans-serif; font-size:18px; margin-bottom:14px}
.form-box1 {margin-bottom:12px; min-height:30px; position:relative}
.form-list-lft {float:left; width:53%; padding-left:2%; position:relative}
.form-list-rgt {float:left; width:43%; padding-left:2%; position:relative}
.form-list-lft div, .form-list-rgt div {margin:7px 0}
input.btn-save {font-family:'helvetica_neueregular', Arial, Helvetica, sans-serif; font-size:20px; line-height:32px; color:#fff; text-align:center; background:url(../innerimages/btn-save.png) left top no-repeat; width:79px; height:32px; border:0; outline:0; padding:0; cursor:pointer}
input.btn-next {font-family:'helvetica_neueregular', Arial, Helvetica, sans-serif; font-size:20px; line-height:32px; color:#fff; text-align:center; background:url(../innerimages/btn-next.png) left top no-repeat; width:79px; height:32px; border:0; outline:0; padding:0; cursor:pointer}
/* -- -- -- -- */


/* checkbox + radio button + select - replacement */
.checkbox, .radio {width:19px; height:21px; padding:0 8px 0 0; background:url(../innerimages/inpts-checkbox.png) no-repeat; display:block; clear:left; float:left}
.radio {background:url(../innerimages/inpts-radio.png) no-repeat}
.select {position:absolute; width:96%; padding:0.6% 1%; font-size:16px; background:url(../innerimages/inpts-select.png) center right no-repeat; overflow:hidden; border:1px solid #a0a0a0; -moz-border-radius:7px; -webkit-border-radius:7px; border-radius:7px}
.error_border{position:absolute; width:98%; padding:0.6% 1%; font-size:16px; background:url(../innerimages/inpts-select.png) center right no-repeat; overflow:hidden; border:1px solid red; -moz-border-radius:7px; -webkit-border-radius:7px; border-radius:7px}
.error{color:Red;}
/*border:1px solid #a0a0a0;*/
/* -- -- -- -- */


/* Category Management Test*/
.welcome-test {padding:28px 31px 10px}
.welcome-test .timer {float:right; font-family:'helvetica_neueregular', Arial, Helvetica, sans-serif; font-size:40px; color:#ea4320; line-height:normal;margin-right:127px;margin-top:-5px;position:fixed;display:inline;right:0px;top:0px;}
/*.welcome-test-cmc {padding:28px 31px 10px;position:fixed;}
.welcome-test-cmc .timer {float:right; font-family:'helvetica_neueregular', Arial, Helvetica, sans-serif; font-size:40px; color:#ea4320; line-height:normal;margin-right:127px;margin-top:-5px;position:fixed;}*/
.navigation {background:#414042; text-align:center; border-top:30px solid #eae5dc; height:48px}
.navigation ul {display:inline-block; margin:0 auto; padding:9px 0; list-style:none}
.navigation ul li {display:inline}
.navigation ul li a {display:block; height:30px; float:left; font-size:14px; line-height:15px; color:#fff; text-decoration:none; padding:0 20px; border-left:1px solid #fff}
.navigation ul li a:hover {color:#f79548; text-decoration:none}
.navigation ul li.active a, .navigation ul li.active a:hover {color:#f79548; text-decoration:none}
.navigation ul li:first-child a, .navigation ul li:first-child a:hover {border-left:0 none}
.test-info-box {padding:0 88px 10px; font-size:16px; line-height:18px}
.test-info-box .title {font-size:30px; line-height:normal; text-align:center}
.info-box-shdw-cat-mngmt {background:#fff; padding:30px 48px; -moz-box-shadow:2px 2px 4px #666; -webkit-box-shadow:2px 2px 4px #666; box-shadow:2px 2px 4px #666}
.test-box {}
.test-cnt {border-bottom:1px solid #e1dacd; padding:14px 40px; font-size:16px; line-height:19px}
.test-cnt .num {float:left; width:44px; font-size:18px; line-height:normal; margin-top:8px}
.test-cnt .dtl {float:left; width:718px}
.test-cnt .dtl .title {font-family:'HelveticaBold', Arial, Helvetica, sans-serif; font-size:18px; line-height:normal; margin-bottom:10px}
.test-cnt .dtl p {margin:8px 0}
.score-box {}
.score-box .score-cnt {float:left; background:url(../innerimages/icon-score.png) 60px top no-repeat; font-family:'HelveticaBold', Arial, Helvetica, sans-serif; font-size:16px; color:#ea4320; line-height:56px; padding-left:135px}
.score-box .score-btn {float:right; margin-top:15px}
/* -- -- -- -- */


/* Behavioural Assessment */
.scoring-guide {background:#f7f6f3; margin-bottom:22px; padding:14px 48px 20px}
.guide-box1 {width:108px; min-height:120px; float:left; font-size:12px}
.guide-box2 {width:206px; min-height:120px; float:left; font-size:12px}
.guide-brd {border-right:2px solid #efece5}
.guide-title {font-family:'HelveticaBold', Arial, Helvetica, sans-serif; font-size:14px; line-height:22px; display:block; padding:0 8px; background:#fbb37a; margin:0 0 5px 0 !important}
.guide-num {font-family:'HelveticaBold', Arial, Helvetica, sans-serif; font-size:14px; border:1px solid #626262; -moz-border-radius:20px; -webkit-border-radius:20px; border-radius:20px; background:#fff; width:20px; height:20px; text-align:center; line-height:20px; margin:0 0 10px 8px}
.guide-box1 p, .guide-box2 p {margin-left:8px}
.guide-test-cnt {border-bottom:1px solid #e1dacd; padding:14px 40px; font-size:16px; line-height:20px}
.guide-test-cnt .num {float:left; width:44px; font-size:18px; line-height:normal}
.guide-test-cnt .dtl {float:left; width:460px}
.guide-test-cnt .opt {float:right; width:203px}
.guide-test-cnt .opt ul {float:right}
.guide-test-cnt .opt ul li {float:left; width:19px; margin-left:10px; text-align:center}
.tip-info {border-bottom:1px dotted #231f20; color:#231f20 !important; text-decoration:none; cursor:help; position:relative}
.tip-info:hover {text-decoration:none}
.tip-info span {margin-left:-999em; position:absolute}
.tip-info:hover span {position:absolute; right:-230px; top:-10px; z-index:99; margin-left:0; border:1px solid #bcbcbc; background:#e6e6e6; padding:8px; width:200px; font-size:12px; line-height:normal; box-shadow:2px 2px 4px #666}
/* -- -- -- -- */


/* MyResults - BarGraph */
.txt20 {font-size:20px; color:#231f20}
.score-ur {float:right}
.score-ur .percent {float:left; font-size:42px; color:#ea4320; line-height:28px; margin-right:12px}
.score-ur .content {float:left; font-family:'HelveticaBold', Arial, Helvetica, sans-serif; font-size:14px; line-height:15px}
.my-result-box {padding:20px 31px; background:#fff; border-bottom:35px solid #eae5dc}
.breadcrumb {font-size:12px; line-height:14px; color:#231f20; padding-left:16px}
.breadcrumb a {color:#231f20; text-decoration:none}
.breadcrumb a:hover {color:#ea4320; text-decoration:none}
.breadcrumb span {color:#ea4320}
.my-result-container {background:url(../innerimages/my-result-container-bg.gif) left top repeat-y}
.my-result-container .col-lft {float:left; width:225px; margin-right:11px}
.my-result-container .col-cnt {float:left; width:702px}
.title18 {font-size:18px; line-height:18px; margin-bottom:10px; padding:5px 15px; background:#e6e1d6; display:block}
.lock {background:url(../innerimages/icon-lock.png) center right no-repeat; display:block;}
/* accordion menu */
.acrd-menu {margin-bottom:10px; padding:0; width:225px; font-size:14px; color:#231f20; line-height:20px}
.acrd-menu a.menuitem {display:block; position:relative; width:auto; margin-bottom:5px; padding-left:16px; font-family:'HelveticaBold', Arial, Helvetica, sans-serif; color:#231f20; text-decoration:none}
.acrd-menu a.menuitem:visited, .acrd-menu .menuitem:active {}
.acrd-menu a.menuitem .statusicon {position:absolute; top:5px; left:0; border:none}
.acrd-menu a.menuitem:hover {color:#ea4320; text-decoration:none}
.acrd-menu div.submenu {margin-bottom:5px}
.acrd-menu div.submenu ul {list-style-type:none; margin:0; padding:0}
.acrd-menu div.submenu ul li {}
.acrd-menu div.submenu ul li a {display:block; color:#231f20; text-decoration:none; padding-left:16px}
.acrd-menu div.submenu ul li a:hover {color:#ea4320; text-decoration:none}
.acrd-menu div.submenu ul li a.active, .acrd-menu div.submenu ul li a.active:hover, .acrd-menu a.active, .acrd-menu a.active:hover {color:#ea4320; text-decoration:none}
/* -- */
.result-info {font-family:'helvetica_neueregular-italic', Arial, Helvetica, sans-serif; font-size:14px; line-height:16px; padding:5px 75px 15px 16px}
.icon-copy {background:url(../innerimages/icon-copy.png) top right no-repeat}
.icon-arrow {background:url(../innerimages/icon-arrow.gif) top right no-repeat}
.icon-bulb {background:url(../innerimages/icon-bulb.png) top right no-repeat}
.icon-graf {background:url(../innerimages/icon-graf.png) top right no-repeat}
.icon-calcualtor {background:url(../innerimages/calculator-icon.png) top right no-repeat}
.icon-score {background:url(../innerimages/icon-score.png) top right no-repeat}
a.more-info, a.more-info:hover {font-family:'HelveticaBold', Arial, Helvetica, sans-serif; color:#231f20 !important; text-decoration:underline}
.wide578 {width:578px; margin:0 auto}
.share-challange-1 {padding-left:50px}
.share-challange-1 .share-cnt-1 {float:left; position:relative; width:515px; font-size:18px; line-height:22px}
.share-challange-1 .share-cnt-2 {float:left; position:relative; width:137px}
.share-challange-1 .share-title-1 {font-family:'helvetica_neueregular-hv-cnd', Arial, Helvetica, sans-serif; font-size:38px; line-height:30px; padding-left:150px}
.share-challange-1 .share-title-2 {font-family:'helvetica_neueregular', Arial, Helvetica, sans-serif; font-size:55px; line-height:45px; color:#ea4320; padding-left:182px}
.share-challange-1 .share-title-3 {font-family:'helvetica_neueregular-condensed', Arial, Helvetica, sans-serif; font-size:35px; line-height:32px; padding-left:115px}
.share-challange-1 .cloud-1 {position:absolute; top:0; left:-10px}
.share-challange-1 .cloud-2 {margin:10px 0 20px 20px}
input.btn-share {font-family:'helvetica_neueregular', Arial, Helvetica, sans-serif; font-size:24px; color:#fff; line-height:39px; text-align:center; background:url(../innerimages/btn-share.png) left top no-repeat; width:110px; height:39px; border:0; outline:0; padding:0; cursor:pointer}
/* -- -- -- -- */


/* MyResults - Share */
.share-challange-2 {position:relative}
.share-challange-2 .share-title-1 {font-family:'helvetica_neueregular-hv-cnd', Arial, Helvetica, sans-serif; font-size:48px; line-height:40px; padding-left:138px}
.share-challange-2 .share-title-2 {font-family:'helvetica_neueregular', Arial, Helvetica, sans-serif; font-size:70px; line-height:56px; color:#ea4320; padding-left:176px}
.share-challange-2 .share-title-3 {font-family:'helvetica_neueregular-condensed', Arial, Helvetica, sans-serif; font-size:42px; line-height:38px; padding-left:88px}
.share-challange-2 .cloud-1 {position:absolute; top:0; left:20px}
.wide278 {width:278px}
.form-box2 {margin-bottom:12px}
.text-box-1 {padding:3px 10px; font-size:13px; border:1px solid #a5a5a6; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; -moz-box-shadow:1px 1px 3px #999; -webkit-box-shadow:1px 1px 3px #999; box-shadow:1px 1px 3px #999; width:88%}
.text-box-2 {padding:3px 10px; font-size:16px; border:1px solid #a5a5a6; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; -moz-box-shadow:1px 1px 3px #999; -webkit-box-shadow:1px 1px 3px #999; box-shadow:1px 1px 3px #999; width:95%}
.text-box-2-error {padding:3px 10px; font-size:16px; border:1px solid red; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; -moz-box-shadow:1px 1px 3px #999; -webkit-box-shadow:1px 1px 3px #999; box-shadow:1px 1px 3px #999; width:97%}
.chkbx-box-1 {font-size:14px; line-height:19px; margin-bottom:8px}
.txt14 {font-size:14px; line-height:16px}
.icon-email {background:url(../innerimages/icon-email.png) left 5px no-repeat; padding-left:40px; display:block}
/* -- -- -- -- */


/* MyResult - Reports */
.wide640 {width:640px; margin-left:62px}
/* -- -- -- -- */


/* Footer */
footer {padding:18px 0; position:relative}
#footer-logo {margin:0 auto; width:256px; height:77px; text-align:center; font-size:10px}
#footer-logo a, #footer-logo a:hover {display:block; width:256px; height:77px; background:url(../images/logo-footer.png) top left no-repeat; text-decoration:none; text-indent:-999em}
.powered {position:absolute; top:18px; right:55px; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#58595b; text-align:right; line-height:50px}
/* -- -- -- -- */

/* Popup */
#colorbox, #cboxOverlay, #cboxWrapper {position:absolute; top:0; left:0; z-index:9999; overflow:hidden}
#cboxOverlay {position:fixed; width:100%; height:100%}
#cboxMiddleLeft, #cboxBottomLeft {clear:left}
#cboxContent {position:relative; overflow:hidden}
#cboxLoadedContent {overflow:auto}
#cboxLoadedContent iframe {display:block; width:100%; height:100%; border:0}
#cboxTitle {margin:0}
#cboxLoadingOverlay, #cboxLoadingGraphic {position:absolute; top:0; left:0; width:100%}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {cursor:pointer}
#cboxOverlay {background:url(../images/overlay.png) 0 0 repeat}
#colorbox {}
/* -- -- -- -- */

/* Alert Message */
.message {width:242px; background:#f2f0ea; margin:0 auto; padding:16px 25px 8px 25px; -moz-border-top-left-radius:14px; -webkit-border-top-left-radius:14px; border-top-left-radius:14px; -moz-border-top-right-radius:14px; -webkit-border-top-right-radius:14px; border-top-right-radius:14px}
.message .message-box {background:#fff; padding:12px; margin-bottom:8px; font-size:14px}
.message input.btn-ok {width:37px; height:22px; border:0; padding:0; background:url(../images/btn-ok.png) left top no-repeat; cursor:pointer; float:right; text-indent:-999em}
.message input.btn-back {width:79px; height:22px; border:0; padding:0; background:url(../images/go_back.png) left top no-repeat; cursor:pointer; float:right; text-indent:-999em}
.message input.btn-yess {width:56px; height:22px; border:0; padding:0; background:url(../images/yess.png) left top no-repeat; cursor:pointer; float:right; text-indent:-999em}
.message input.btn-yes {width:56px; height:22px; border:0; padding:0; background:url(../images/yes.png) left top no-repeat; cursor:pointer; float:right; text-indent:-999em}
.message input.btn-proceed {width:121px; height:22px; border:0; padding:0; background:url(../images/btnProceesTNA.png) left top no-repeat; cursor:pointer; float:right; text-indent:-999em}
.message input.btn-nothanks {width:79px; height:22px; border:0; padding:0; background:url(../images/no_thanks.png) left top no-repeat; cursor:pointer; float:right; text-indent:-999em}
.message input.btn-no {width:36px; height:22px; border:0; padding:0; background:url(../images/no.png) left top no-repeat; cursor:pointer; float:right; text-indent:-999em}
/* -- -- -- -- */

.help .select 
{
    font-family:'HelveticaRegular',Arial,Helvetica,sans-serif;
    font-size:16px;
    background: url("../images/inpts-select.png") no-repeat scroll right center #FFFFFF;
    border: 1px solid #92897D;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #666666;
    font-size: 12px;
    overflow: hidden;
    padding: 4px 8px;
    position: absolute;
    width: 97%;
}

/* new CSS - 14-10-2014 */
.cm-chellenge {min-height:272px; margin-right:16px; padding:10px 10px 0; font-size:14px; line-height:17px; border:6px solid #e6e1d6; -moz-border-top-left-radius:20px; -webkit-border-top-left-radius:20px; border-top-left-radius:20px; background:url(../images/icon-cm-chellenge.png) bottom right no-repeat}
.ss-assessment {min-height:272px; margin-right:16px; padding:10px 10px 0; font-size:14px; line-height:17px; border:6px solid #e6e1d6; background:url(../images/icon-ss-assessment.png) bottom right no-repeat}
.dm-profile {min-height:64px; margin-top:16px; padding:10px 14px 0 10px; font-size:14px; line-height:17px; border:6px solid #e6e1d6; background:url(../images/icon-dm-profile3.png) bottom right no-repeat}
.dm-profile-lt1 {float:left; width:22%}
.dm-profile-lt2 {float:left; width:65%; margin-top:10px}
.ng-master {width:285px; height:348px; position:absolute; top:-84px; left:-40px; z-index:999}
.color-cyn {color:#009ec2 !important}
ol.list3 {counter-reset:li; margin-left:0; padding-left:0}
ol.list3 > li {position:relative; margin:0 0 0 26px; padding:4px 8px; list-style:none}
ol.list3 > li:before {content:counter(li); counter-increment:li; position:absolute; top:4px; left:-26px; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; width:20px; height:20px; line-height:20px; padding:0; color:#fff; background:#009ec2; text-align:center}
.tick-mark4 {margin:0; padding:0}
.tick-mark4 li {background:url(../images/tick-arrow4.png) left top no-repeat; margin:0 0 6px; padding-left:33px; font-family:'HelveticaBold', Arial, Helvetica, sans-serif; font-size:16px; line-height:26px}
.cyan-bar1 {color:#fff; text-align:center; background:#009ec2; padding:4px}
.dot-line2 {background:url(../images/dotted-line2.gif) left top repeat-x; height:10px; margin:16px 0; font-size:10px; line-height:10px}

.ngmaster-form {border-top:6px solid #fff; padding-top:10px}
.ngmaster-form .form1 {margin:0 15px 10px; position:relative}
.ngmaster-form input.txt-field2 {font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#231f20; padding:4px 8px; width:93%; border:1px solid #df7e9b; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; -moz-box-shadow:1px 1px 2px #999; -webkit-box-shadow:1px 1px 2px #999; box-shadow:1px 1px 2px #666}
.ngmaster-form .btn-go3 {line-height:28px; padding:0; outline:none; border:none; background:url(../images/btn-go3.png) left top no-repeat; width:47px; height:28px; cursor:pointer}

.dtl .styled label{float:left; width:95%;}
.dtl table.styled{width:100%;}
.equal_height {
}
.col-660 {
	float: left;
	width: 660px
}
.col-340 {
	float: left;
	width: 300px
}
.cnt-lt-2 {
	margin-top: 5px;
	margin-right: 8px;
	padding: 14px 14px 0 30px;
	background: #f9f7f5
}
.cnt-rt-2 {
	margin-top: 5px;
	padding: 14px 30px 0 14px;
	background: #ebe7de
}
.helpSelect{
	margin-top:8px;	
}
.helpTextarea{
    border-radius: 5px;
    float: left;
    font-size: 12px;
    padding: 5px;
    width: 95%;
}
.title28 {
	font-family: 'cleargothic-mediumregular', Arial, Helvetica, sans-serif;
	font-size: 28px;
	color: #ea4320;
	line-height: normal;
	margin-bottom: 5px
}




