@media (min-width:320px) and (max-width:1023px) {
	
	body {font-size:14px}
	input, textarea, select {font-size:14px}
	
	#outer {background:none}
	#outer-btm {display:none}
	#wrapper {width:auto}
	header {border-bottom:8px solid #e6e1d6; min-height:106px; padding-top:14px}
	
	#logo {width:182px; height:88px}
	#logo a, #logo a:hover {width:182px; height:88px; background-size:182px 88px}
	
	nav {right:26px; top:18px}
	nav li {margin-left:10px}
	
	/* Multiple Assessment */
	.welcome {padding:20px 50px; font-size:16px; line-height:20px}
	.title40-orange {font-size:32px}
	.title40 {font-size:32px}
	
	.dot-line {height:8px; font-size:8px; line-height:8px; background-size:16px 8px}
	.color-box {padding:26px}
	
	.info-box-shdw {-moz-box-shadow:2px 2px 6px #333; -webkit-box-shadow:2px 2px 6px #333; box-shadow:2px 2px 6px #333; font-size:14px; line-height:18px}
	.info-box-shdw .icon {width:11.42857142857143%/*104/910 (1000-26-26-14-14-10=910)*/}
	.info-box-shdw .icon img {width:80%}
	.info-box-shdw .head {width:17.58241758241758%/*160/910*/; font-size:18px; line-height:20px; padding-right:10px}
	.info-box-shdw .desc {width:54.94505494505495%/*500/910*/}
	.info-box-shdw .info {width:13.18681318681319%/*120/910*/; padding-top:4px}
	
	a.btn-go, a.btn-go:hover {width:44px; height:26px; font-size:16px; line-height:26px; background-size:44px 26px}
	a.locked, a.locked:hover {font-size:11px; line-height:13px; padding-top:34px; background-size:19px 28px}
	/* -- -- -- -- */
	
	/* Assessment Instructions */
	.info-box-shdw-inner {padding:26px 52px; font-size:14px; line-height:18px}
	.txt16-bold {font-size:14px}
	.txt30 {font-size:24px; line-height:24px}
	a.my-profile, a.my-profile:hover {font-size:16px; line-height:26px; width:109px; height:26px; background-size:109px 26px}
	.timed-task {line-height:18px; padding:12px 26px}
	.timed-task .title {font-size:30px; line-height:32px}
	.timed-task .title span {padding:0 100px; min-height:80px; background-size:85px 80px}
	.timed-task .title .orange {font-size:44px; line-height:36px}
	/* -- -- -- -- */
	
	/* My Profile */
	.welcome-inner {padding-top:20px}
	.my-pofile-form {width:auto}
	.txt28 {font-size:22px}
	.txt18-bold {font-size:16px; margin-bottom:12px}
	.form-box1 {margin-bottom:10px; min-height:28px}
	.form-list-lft div, .form-list-rgt div {margin:6px 0}
	input.btn-save {font-size:16px; line-height:26px; width:64px; height:26px; background-size:64px 26px}
	input.btn-next {font-size:16px; line-height:26px; width:64px; height:26px; background-size:64px 26px}
	/* -- -- -- -- */
	
	/* checkbox + radio button + select - replacement */
	.select {font-size:14px}
	/* -- -- -- -- */
	
	/* Category Management Test*/
	.welcome-test {padding:20px 26px 6px}
	.welcome-test .timer {font-size:32px}
	.navigation {border-top:24px solid #eae5dc; height:44px}
	.navigation ul {padding:7px 0}
	.navigation ul li a {font-size:13px; padding:0 10px}
	.test-info-box {padding:0 52px 10px; font-size:14px; line-height:16px}
	.test-info-box .title {font-size:24px}
	.info-box-shdw-cat-mngmt {padding:26px}
	.test-cnt {padding:14px 26px; font-size:14px}
	.test-cnt .num {width:5.213270142180095%/*44/844(1000-2626-2626-2626=844)*/; font-size:16px}
	.test-cnt .dtl {width:94.78672985781991%/*718px (800/844)*/}
	.test-cnt .dtl .title {font-size:16px}
	.test-cnt .dtl p {margin:6px 0}
	.score-box .score-cnt {background:url(../images/icon-score.png) 40px top no-repeat; font-size:14px; line-height:45px; padding-left:100px; background-size:47px 45px}
	.score-box .score-btn {margin-top:10px}
	/* -- -- -- -- */
	
	/* Behavioural Assessment */
	.scoring-guide {margin-bottom:18px; padding:14px 26px 20px}
	.guide-box1 {width:12.04954954954955%; font-size:11px}
	.guide-box2 {width:24.77477477477477%; font-size:11px}
	.guide-title {font-size:13px; line-height:18px; padding:0 4px}
	.guide-num {font-size:13px; -moz-border-radius:18px; -webkit-border-radius:18px; border-radius:18px; width:18px; height:18px; line-height:18px; margin:0 0 6px 4px}
	.guide-box1 p, .guide-box2 p {margin-left:4px}
	.guide-test-cnt {padding:14px 26px; font-size:14px; line-height:16px}
	.guide-test-cnt .num {width:5%; font-size:16px}
	.guide-test-cnt .dtl {width:60%}
	/* -- -- -- -- */
	
	/* MyResults - BarGraph */
	.txt20 {font-size:16px}
	.score-ur .percent {font-size:34px; line-height:23px}
	.score-ur .content {font-size:12px; line-height:13px}
	.my-result-box {padding:20px 26px; border-bottom:28px solid #eae5dc}
	.breadcrumb {padding-left:0}
	.my-result-container .col-cnt {width:67%}
	.title18 {font-size:16px; line-height:16px; margin-bottom:8px}
	/* accordion menu */
	.acrd-menu {margin-bottom:8px; font-size:13px; line-height:18px}
	.acrd-menu a.menuitem .statusicon {top:4px}
	/* -- */
	.wide578 {width:auto; padding-left:26px}
	.wide80 {width:80%}
	.share-challange-1 {padding-left:26px}
	.share-challange-1 .share-cnt-1 {width:80%; font-size:15px; line-height:18px}
	.share-challange-1 .share-cnt-2 {float:right; width:80px}
	.share-challange-1 .share-title-1 {font-size:30px; line-height:26px; padding-left:110px}
	.share-challange-1 .share-title-2 {font-size:44px; line-height:36px; padding-left:136px}
	.share-challange-1 .share-title-3 {font-size:26px; line-height:26px/; padding-left:72px}
	.share-challange-1 .cloud-1 img {width:100px}
	.share-challange-1 .cloud-2 {margin:5px 0 16px 10px}
	.share-challange-1 .cloud-2 img {width:70px}
	input.btn-share {font-size:18px; line-height:26px; width:73px; height:26px; background-size:73px 26px}
	/* -- -- -- -- */
	
	/* MyResults - Share */
	.share-challange-2 .share-title-1 {font-size:38px; line-height:32px; padding-left:110px}
	.share-challange-2 .share-title-2 {font-size:56px; line-height:45px; padding-left:140px}
	.share-challange-2 .share-title-3 {font-size:34px; line-height:30px; padding-left:70px}
	.share-challange-2 .cloud-1 img {width:70px}
	.wide278 {width:48%}
	.chkbx-box-1 {font-size:13px}
	.txt14 {font-size:13px; line-height:15px}
	/* -- -- -- -- */
	
	/* MyResult - Reports */
	.wide640 {width:auto; margin-left:26px}
	/* -- -- -- -- */
	
	/* Footer */
	footer {padding:16px 0}
	#footer-logo {width:126px; height:40px}
	#footer-logo a, #footer-logo a:hover {width:126px; height:40px; background-size:126px 40px}
	.powered {top:16px; right:26px; font-size:13px; line-height:40px}
	/* -- -- -- -- */
	
}