@media (min-width: 768px) and (max-width: 1023px) {
img{
	max-width:100%;
}
body {
    font-size: 14px;
}
#outer {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
#outer-btm {
    display: none;
}
#wrapper {
    width: auto;
}
header {
    padding: 16px 20px 0;
}
#logo {
    width: 220px;
}
#logo a, #logo a:hover {
    background-size: 220px auto;
    width: 220px;
}
nav {
    left: 10px;
}
nav li ul.sub {
    padding-left: 5px;
}
#login {
    right: 20px;
}
.banner-caption {
    font-size: 36px;
    line-height: 40px;
    padding: 8px 30px;
}
.orange-bar {
    font-size: 24px;
    line-height: 32px;
    margin: 12px 0;
    padding: 5px 0;
}
.banner-inner img {
    max-width: 100%;
}
footer {
    font-size: 11px;
    line-height: 14px;
}
footer .col-1 {
	margin-right: 15px;
	width: 14%;
}
footer .col-2 {
	margin-right: 15px;
	width: 19%;
}
footer .col-3 {
	width: 23%;
}
footer .col-4 {
	width: 130px;
}
footer .footer-link li.title {
    font-size: 13px;
}
#footer-logo {
	height: 46px;
	width: 130px;
}
#footer-logo a, #footer-logo a:hover {
	background-size: 130px auto;
	height: 46px;
	width: 130px;
}
.powered {
    font-size: 13px;
}
.stepBoxes li{
	width:42%;
	margin-bottom:20px;
	min-height:120px;
}
.form, .getBoard{
	width:90%;
	padding:20px 5%;
}
.getBoard::before{
	background:none;	
}
.form ul li input[type="text"], .form ul li select{
	width:95.55%;	
}

.col-340 {
    width: 34%;
}

.col-660 {
    width: 66%;
}

}
@media (min-width: 230px) and (max-width: 767px) {
img{
	max-width:100%;
}	
body {
    font-size: 13px;
}
#outer {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
#outer-btm {
    display: none;
}
#wrapper {
    min-width: 320px;
    width: auto;
}
header {
    border-bottom: 0 none;
    min-height: 0;
    padding: 0;
    position: static;
}
#logo {
    width: 220px;
	height:87px;
}
#logo a, #logo a:hover {
    background-size: 220px auto;
    width: 220px;
	background-position:0px 15px;
}
a#top-nav-mob {
    background: #b4a991 none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 14px;
    line-height: 28px;
    margin-top: 8px;
    padding: 0 5px;
    position: relative;
    text-decoration: none;
}
a#top-nav-mob span {
    background: rgba(0, 0, 0, 0) url("../images/top-nav-mob-bg.gif") no-repeat scroll left center;
    display: block;
    padding-left: 26px;
}
nav {
    display: none;
    font-size: 14px;
    left: 0;
    top: 123px;
    width: 100%;
    z-index: 3000;
}
nav li {
    margin-bottom: 0;
    padding: 0 33px;
    width: auto;
}
nav li a {
    background: #b5a991 none repeat scroll 0 0;
    border-bottom: 1px solid #c2b7a1;
    color: #fff !important;
    padding: 4px 12px;
}
nav li a:hover {
    border-bottom: 1px solid #c2b7a1;
    color: #fff !important;
    padding: 4px 12px;
}
nav li a.active, nav li a.active:hover {
    border-bottom: 1px solid #c2b7a1;
    color: #fff !important;
    padding-bottom: 4px;
}
nav li ul.sub {
    display: block;
    left: 0;
    margin-top: 0;
    padding-left: 0;
}
nav li:hover ul.sub {
    position: static;
}
nav li ul.sub li {
    margin-bottom: 0;
    padding: 0;
    width: auto;
}
nav li ul.sub li a {
    border-bottom: 1px solid #c2b7a1;
    padding-left: 24px;
}
nav li ul.sub li a:hover {
    border-bottom: 1px solid #c2b7a1;
}
nav li ul.sub li a.active, nav li ul.sub li a.active:hover {
    color: #fff !important;
}
nav li:hover > a {
    border-bottom: 1px solid #c2b7a1;
    color: #fff !important;
    padding-bottom: 4px;
}
a#login-mob {
    background: #e6e1d6 none repeat scroll 0 0;
    color: #000;
    display: block;
    font-size: 14px;
    line-height: 28px;
    padding: 0 5px 0 10px;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 95px;
}
a#login-mob span {
    background: rgba(0, 0, 0, 0) url("../images/login-mob-bg.gif") no-repeat scroll right center;
    display: block;
    padding-right: 26px;
}
#login {
    background: #e6e1d6 none repeat scroll 0 0;
    display: none;
    margin: 0 auto;
    padding: 10px 20px;
    right: 33px;
    top: 123px;
    z-index: 4000;
}
#login p {
    margin-bottom: 6px;
}
.banner-caption {
    font-size: 20px;
    line-height: 24px;
    padding: 4px 10px;
}
.hide {
    display: none;
}
.dot-line {
    background-size: 12px 6px;
    font-size: 6px;
    height: 6px;
    line-height: 6px;
    margin: 8px 0;
}
footer {
    font-size: 11px;
    line-height: 14px;
    padding: 0 5px;
}
footer .col-1 {
    border-bottom: 1px solid #e8e8e8;
    border-right: 0 none;
    float: none;
    margin-right: 0;
    min-height: 0;
    padding: 8px;
    width: auto;
}
footer .col-2 {
    border-bottom: 1px solid #e8e8e8;
    border-right: 0 none;
    float: none;
    margin-right: 0;
    min-height: 0;
    padding: 8px;
    width: auto;
}
footer .col-3 {
    border-bottom: 1px solid #e8e8e8;
    border-right: 0 none;
    float: none;
    min-height: 0;
    padding: 8px;
    width: auto;
}
footer .col-4 {
    float: none;
    min-height: 0;
    padding: 8px;
    width: auto;
}
footer .footer-link li.title {
    font-size: 13px;
}
#footer-logo {
    height: 39px;
    width: 130px;
}
#footer-logo a, #footer-logo a:hover {
    background-size: 130px 39px;
    height: 39px;
    width: 130px;
}
.powered {
    font-size: 12px;
    padding: 0;
    text-align: left;
}

.stepBoxes li{
	width:90%;
	margin-bottom:20px;
	min-height:80px;
}
.form, .getBoard{
	width:90%;
	padding:20px 5%;
}
.form ul li input[type="text"]{
	width:92%;
}
.form ul li select{
	width:96%;
}


.col-660, .col-340 {
    float: none;
    width: 100%;
}

}